@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.color-primary{
    color: #5271FF;
}

.color-secondary{
    color: #FB7B7F
}

.color-tertiary{
    color: #FFE53A
}