<footer class="my-6">
        <div class="text-center">
            <p class="text-black font-bold font-montserrat">Desarrollado moviendo las manitas y con mucho ❤️</p>
            
        </div>
</footer>