---
// Component Imports
import GithubSvg from '../components/Icons/Github.astro'
import EmailSvg from '../components/Icons/Email.astro'
import LinkedinSvg from '../components/Icons/Linkedin.astro'
import TwitterSvg from '../components/Icons/Twitter.astro'
---

<p class="text-black font-bold text-base md:text-xl">
  <a href="mailto:info@javierpalacio.es">
    <EmailSvg/>
  </a>
</p>
<p class="text-black font-bold text-base md:text-xl">
  <a href="https://github.com/javipaur" target="_blank">
    <GithubSvg/>
  </a>
</p>
<p class="text-black font-bold text-base md:text-xl">
  <a href="https://www.linkedin.com/in/javierpalaciourraca/" target="_blank">
    <LinkedinSvg/>
  </a>
</p>
<p class="text-black font-bold text-base md:text-xl">
  <a href="https://twitter.com/javipaur" target="_blank">
    <TwitterSvg/>
  </a>
</p>